.view-clients {
  
  .clients__list_detail {

    display: flex;
    align-items: flex-start;

    width: 100%;

    padding-top: 1.5rem;
  }
}

.lv-clients {

  max-width: 1280px;
  width: 100%;

  tr {

    cursor: pointer;

    td, th {
      &:first-child {
        width: 250px;
      }
      text-align: left;
    }
    td {
      &:first-child {
        font-weight: bold;
      }
    }
  }
}