.clients__detail {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 275px;
  height: 275px;

  margin-left: 1rem;
  padding: 0.75rem;
  
  border: 2px solid #00A9CA;
  border-radius: 4px;

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  &.client_not-selected {
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .detail_logo_info {

    display: flex;

    .detail__logo {

      display: flex;
      justify-content: center;
      align-items: center;

      width: 125px;
      height: 125px;
      margin-right: 1rem;
      background: #EEE;
      border: 5px solid #EEE;
      border-radius: 4px;
    }

    .detail__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}