@import './_misc';
@import './colors';
@import './typography';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view-wrapper {

  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1.6rem 2.8rem;

  .view-header {

    display: flex;
    align-items: center;

    margin-bottom: 1.6rem;
  }
}

.list-view {

  border-collapse: collapse;

  tr {

    &:hover,
    .row-selected {
      background-color: $hover-highlight!important;
    }

    th {

      position: static;
      top: 0;

      background-color: $rnt-blue;

      &:first-child {
        border-radius: 4px 0 0 0;
      }

      &:last-child {
        border-radius: 0 4px 0 0;
      }

      p {
        text-transform: uppercase;
        color: #FFF;
        font-size: 1.1rem;
      }
    }

    th {
      padding: 0.4rem 0.3rem 0.4rem 0.5rem;
    }

    td {

      padding: 0.4rem 0.9rem 0.2rem 0.5rem;

      p {
        font-size: 1.2rem;
      } 
    }

    background-color: #FFF;

    &:nth-child(odd) {
      background-color: #F9F9FA;
    }
  }

  tbody tr td {
    height: 29px;
    border-bottom: 1px solid #E6E8ED;
  }
}
