@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './colors';

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: $clr-dark;
}

h1 {
  font-size: 2.8rem;
  font-weight: 300;
}